/* WhiteTheme.css */

.root {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
}

.button {
    -fx-background-color: #b0b0b0;
    -fx-text-fill: black;
}

#registerButton {
    -fx-background-color: #99FFFF;
}

#loginButton {
    -fx-background-color: #99FF99;
}

.label {
    -fx-background-color: #909090;
    -fx-text-fill: black;
}
