<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:6969/budget_db</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.gnida.entity.BudgetEntity"/>
        <mapping class="com.gnida.entity.CategoryEntity"/>
        <mapping class="com.gnida.entity.SubcategoryEntity"/>
        <mapping class="com.gnida.entity.TransactionEntity"/>
        <mapping class="com.gnida.entity.UserEntity"/>
        <mapping class="com.gnida.entity.UserBudgetEntity"/>
        <mapping class="com.gnida.entity.UserInfoEntity"/>

    </session-factory>
</hibernate-configuration>